<footer class="container-fluid  mt-4 bg-light">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">¿Te ayudamos?</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Profesionales</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Sobre Second Wind</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Second Wind, S.L.</p>
</footer>
